{%- include snippets/get-locale-string.html key='CANCEL' -%}
{%- assign _locale_cancel = __return -%}
{%- include snippets/get-locale-string.html key='SEARCH' -%}
{%- assign _locale_search = __return -%}

{%- if site.search.provider == 'google' -%}
  <script>window.useDefaultSearchBox = false;</script>
{%- endif -%}

{%- if site.search.provider -%}
  <script>{%- include scripts/components/search.js -%}</script>
{%- endif -%}

{%- if site.search.provider == 'default' -%}
  {%- include search-providers/default/search.html -%}
{%- elsif site.search.provider == 'google' -%}
  {%- include search-providers/google-custom-search-engine/search.html -%}
{%- elsif site.search.provider == 'custom' -%}
  {%- include search-providers/custom/search.html -%}
{%- endif -%}


<!-- 搜索界面加入 今日诗词  -->
<style>
    .box{
        position:absolute;
        top:50%;
        left:50%;
        }
</style>

<div class="box">
<span id="jinrishici-sentence" text-align="center">正在加载今日诗词....</span>
</div>
<script src="https://sdk.jinrishici.com/v2/browser/jinrishici.js" charset="utf-8"></script>
